:root {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
}

ul {
  padding: 0;
  list-style-type: none;
}
.header {
  display: flex;
  padding: 20px;
  margin-bottom: 3rem;
  background-color: #a9077b;
  color: #fff;
}
.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: left;
}
.main {
  width: 100%;
  height: auto;
  margin-left: 20px;
}
.form__search {
  width: 150px;
  height: 24px;
  border-radius: 5px;
  border: solid 2px #a9077b;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.50);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-left: 10px;
  margin-right: 15px;
  margin-bottom: 50px;
}
.form__button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: solid 2px #a9077b;
  background-color: #a9077b;
  color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.50);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
/*NEW Added*/
.button-reset {
  width: 120px;
  height: 25px;
  border-radius: 5px;
  border: solid 2px #a4e8e9;
  background-color: #a4e8e9;
  color: #027779;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.50);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-right: 15px;
}
.container {
  display: flex;
}
.fav__wrapper {
  width: 20%;
  height: auto;
  max-width: 250px;
  min-height: 55vh;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #029294;
  background-color: #eff8f8;
  padding: 20px;
  margin-right: 15px;
}
.fav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.favourites {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
  margin: 0;
}
.shows__wrapper {
  width: 80%;
  height: auto;
}
.shows__list {
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  margin: 0;
}
.page__footer {
  position: fixed;
  left: 0;
  bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
  width: 100%;
  padding: 16px;
  color: #000;
  border-top: 2px solid #a9077b;
}

/*--css de JS--*/

.shows__list-item {
  width: 200px;
  height: 300px;
  display: inline-block;
  padding: 20px 10px 0 10px;
  margin: 10px;
  border: 1px solid #029294;
  border-radius: 5px;
  background-color: #fff;
}
.show__title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.image {
  width: 150px;
  height: 200px;
  margin-bottom: 10px;
}

.fav__list-item {
  width: 150px;
  height: 175px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #029294;
  background-color: #fff;
}
.fav__title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}
.fav__image {
  width: 100px;
  height: 140px;
  margin-bottom: 10px;
}
.favouriteShow {
  background-color: #029294;
  font-weight: 900;
  color: #fff; /*NEW Added*/
}
