<main class="page__main">
  <form action="#" class="form js-form">
    <input
      class="form__search js-formSearch"
      type="text"
      name="search"
      id="search"
      placeholder="Ej.: Game of Thrones"
    />
    <input
      class="form__button js-formButton"
      type="button"
      name="button"
      id="button"
      value="Buscar"
    />
  </form>

  <div class="container__series-list">
    <ul class="series__list js-series-list"></ul>
    <div class="fav__container">
      <h3 class="favourites">Mis series favoritas</h3>
      <ul class="fav__list js-fav-list"></ul>
    </div>
  </div>
</main>
