<main class="page__main">
  <form action="#" class="form js-form">
    <input
      class="form__input-search js-formSearch"
      type="text"
      name="search"
      id="search"
      value=""
      placeholder="Ej.: Girls"
    />
    <input
      class="form__button js-formButton"
      type="button"
      name="button"
      id="button"
      value="Buscar"
    />
  </form>

  <div class="container__series-list">
    <div class="fav__container">
      <h2 class="favourites">Mis series favoritas</h2>
      <ul class="fav__list js-fav-list">
        <li>Fav 1</li>
        <li>Fav 2</li>
        <li>Fav 3</li>
      </ul>
    </div>
    <ul class="series__list js-series-list">
      Cargando series...
      <li>
        <div class="box-pics">
          <img
            class="pics"
            src="https://static.tvmaze.com/uploads/images/medium_portrait/31/78286.jpg"
            alt="Girls"
          />Girls
        </div>
      </li>
      <li></li>
      <li></li>
    </ul>
  </div>
</main>
